

html {
    font-size:20px;
    line-height:20px;

}

body {
    font-size: 20px;
    vertical-align: text-bottom;
    margin: 40px;
    line-height: 40px;
}

.smallLine {
    line-height: 10px;
}
.search {
    line-height: 10px;
}

.form-control {
    margin: 0px;
    padding: 0px;
    margin: 10px;

}


label{
    margin:0px 20px;
}
div.dataTables_wrapper div.dataTables_info{
    margin:0px 20px;
}

.tableDiv {
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    border: 5px solid black;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-color: rgba(0,0,0,.25);
    border-spacing: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

h1 {
    color: #111;
    font-family: 'Palatino', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    margin-top: 30px;
}
.container {
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

img{
    border-radius:50px;
}